@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.task-day-container {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  height: 17vh;
}
.task-day-container:hover {
  animation: zoomIn 200ms linear;
  transform: scale(1.2);
}
